page-service-detail {
    .serviceItem {
        overflow: hidden;
        height: 200px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            -webkit-filter: brightness(80%);
        }
        .card-title {
            position: absolute;
            text-align: center;
            font-weight: bold;
            top: 20%;
            width: 100%;
            left: 0;
            color: #fff;
            font-size: xx-large;
        }
        .card-subtitle {
            position: absolute;
            top: 30%;
            left: 0;
            width: 100%;
            text-align: center;
            color: white;
        }
    }
}