page-ticket {
    .ticket_main {
        background-color: #eee;
    }
    .ticket_profile {
        margin-bottom: 20px;
    }
    .ticket_summary {
        font-size: 20px;
    }
    .knop_ticket {
        margin-top: 30px;
    }
}